<div class="row-fluid">
  <div id="bounty-page-area" class="span6 offset3">
    <%= render 'shared/error_messages' %>
    <%= semantic_form_for @artist do |artist_form| %>
        <%= artist_form.input :name, :required => true %>
        <%= artist_form.input :email, :required => true %>
        <%= artist_form.input :bio, :as => :text, :required => true %>
        <%= artist_form.input :bounty_rules, :as => :text, :required => true %>
        <%= artist_form.submit %>
    <% end %>
  </div>
</div>
