<div id="artist-show">
  <div class="header">Artist Details</div>
  <div class="profile-wrapper">
    <div class="content-left">
      <ul>
        <li class="subheader">Name</li>
        <li class="profile-data"><%= @artist.name %> <%= @artist.email %></li>
        <li class="subheader">Biography</li>
        <li class="profile-data"><%= @artist.bio %></li>
        <li class="subheader">Bounty Rules</li>
        <li class="profile-data"><%= @artist.bounty_rules %></li>
      </ul>
    </div>
    <div class="content-right">
      <div class="join-date"><%= @artist.created_at.to_s(:joined_on) %></div>
    </div>
  </div>

  <div class="bounty-wrapper">
    <div class="header"><%= @artist.name %> is currently working on...</div>
      <% unless @acceptedBounties.empty? %>
        <div class="button-wrapper">
          <% @acceptedBounties.each do |b| %>
            <%=   link_to "#{b.name}", bounty_path(b.id), class: 'bounty-button' %>
          <% end %>
        </div>
      <% else %>
        <h2>Nothing!</h2>
      <% end %>

     <div class="header"><%= @artist.name %>'s Completed Bounties</div>
      <% unless @completedBounties.empty? %>
        <div class="button-wrapper">
          <% @completedBounties.each do |b| %>
            <%=   link_to "#{b.name}", bounty_path(b.id), class: 'bounty-button' %>
          <% end %>
        </div>
      <% else %>
         <h2><%= @artist.name %> hasn't completed any bounties!</h2>
      <% end %>
    </div>

  <div class="control-panel">
    <%=   link_to 'Back', root_path, class: 'bounty-button' %>
    <% if signed_in? %>

      <% if (@artist == currentUser) || currentUser.admin? %>
        <%=   link_to 'Update', edit_artist_path(@artist.id, "Edit"), class: 'bounty-button' %>
      <% end %>

      <% if currentUser.admin? %>
        <%=   link_to 'Delete', @artist, :confirm => "Are you sure you want to delete #{@artist.name}?", :method => :delete, class: 'bounty-button' %>
      <% end %>

      <% if currentUser.admin? %>
        <%=   link_to 'Approve', artist_path(:artist => {:approved => true}), :method => :put, :confirm => "Are you sure you want to approve this artist?", class: 'bounty-button' %>
      <% end %>
    <% end %>
  </div>
</div>

