<div id="artist-show">
  Artist Details
  <ul>
    <li><%= @artist.name %></li>
    <li><%= @artist.email %></li>
    <li><%= @artist.bio %></li>
    <li><%= @artist.bounty_rules %></li>
    <li><%= @artist.approved %></li>
    <li><%= @artist.created_at.to_s(:joined_on) %></li>
  </ul>

  Artist's Accepted Bounties
  <ul>
    <% unless @bounties.empty? %>
      <% @bounties.each do |b| %>
        <li><%= b.name %><% if b.status == 'Completed' %> | <%= b.url %><% end %></li>
      <% end %>
    <% else %>
      You haven't accepted any bounties!
    <% end %>
  </ul>

  <div class="control-panel">
    <%=   link_to 'Back', root_path, class: 'bounty-button' %>
    <% if signed_in? %>

      <% if (@artist == currentUser) || currentUser.admin? %>
        <%=   link_to 'Update', edit_artist_path(@artist.id, "Edit"), class: 'bounty-button' %>
      <% end %>

      <% if currentUser.admin? %>
        <%=   link_to 'Delete', @artist, :confirm => "Are you sure you want to delete #{@artist.name}?", :method => :delete, class: 'bounty-button' %>
      <% end %>

      <% if currentUser.admin? %>
        <%=   link_to 'Approve', artist_path(:artist => {:approved => true}), :method => :put, :confirm => "Are you sure you want to approve this artist?", class: 'bounty-button' %>
      <% end %>
    <% end %>
  </div>
</div>

