<% if @bounties %>
	<% @bounties.each do |b| %>
		<% unless b.private %>
			<div class="span3 bountyCell">
				<h3><%= b.name %></h3>
				<h4>
					<% if @candidacies %>
						<% @candidacies.each do |c| %>
							<% if c.bounty.id == b.id %>
								<%= c.user.name %>
							<% end %>
						<% end %>
					<% end %>
				</h4>
				<h4>$<%= b.price %></h4>
				<p>
					<%= b.desc %>
				</p>
				<% if b.url %>
					<p><%= link_to raw('View Completed Art &raquo;'), b.url, class: 'btn' %></p>
				<% end %>
			</div>
		<% end %>
	<% end %>
<% end %>