<% if @bounties %>
	<% @bounties.each do |b| %>
		<% unless b.private %>
			<div class="span3 bountyCell">
				<div id="bountyName"><%= b.name %></div>
				<div id="candidates"	
					<% if @candidacies %>
						<% @candidacies.each do |c| %>
							<% if c.bounty.id == b.id %>
								<span class=<%= c.user.name %>><%= c.user.name %></span>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<div class="price">$<%= b.price %></div>
				<div class="desc">
					<%= b.desc %>
				</div>
			</div>
		<% end %>
	<% end %>
<% end %>