<h1>ALL the bounties! All of them!</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Desc</th>
		<th>Price</th>
		<th>Rating</th>
		<th>URL</th>
		<th>Private?</th>
	</tr>
<% @bounties.each do |bounty| %>
	<tr>
		<td><%= bounty.name %></td>
		<td><%= bounty.desc %></td>
		<td><%= bounty.price %></td>
		<td><%= bounty.rating %></td>
		<td><%= bounty.url %></td>
		<td><%= bounty.private %></td>
	</tr>
<% end %>
</table>