<h1>So you wanna post a bounty, eh?</h1>

<% form_for (@bounty), :url => { :action => "new"} do |b| %>

<%= b.label :name %><br>
<%= b.text_field :name %><br>

<%= b.label :desc %><br>
<%= b.text_field :desc %><br>

<%= b.label :price %><br>
<%= b.text_field :price %><br>

<%= b.label :private %><br>
<%= b.check_box :private %><br>

<%= b.submit %>

<% end %>


