<div class="row-fluid">
  <div id="bounty-page-area" class="span8 offset2">
    <% if (@format == "Edit") %>
      <%= semantic_form_for @bounty do |bounty_form| %>
          <%= bounty_form.input :name, :required => true %>
          <%= bounty_form.input :desc, :as => :string, :required => true %>
          <%= bounty_form.input :price, :required => true %>
          <%= bounty_form.input :artists, :collection => Artist.where(:active => true, :approved => true), :as => :check_boxes%>
          <%= bounty_form.input :moods, :as => :check_boxes%>
        <%= bounty_form.submit %>
      <% end %>
    <% elsif (@format == "Complete") %>
      <%= semantic_form_for @bounty do |bounty_form| %>
        <%= bounty_form.input :url, :as => :string, :required => true %>
        <%= bounty_form.submit %>
      <% end %>
    <% end %>
    <%=   link_to 'Return to Bounty', bounty_path(@bounty.id), class: 'btn btn-primary' %>
  </div>
</div>
