<% # -*- encoding : utf-8 -*- %>
<div id="bounty-list">
  <% if @bounty %>
    <% @bounty.sort{|b,a| a.created_at <=> b.created_at}.each do |b| %>
      <% if b.private %>
        <% if !signed_in? %>
          <% next %>
        <% end %>
        <% if !b.artists.include?(currentUser) && !currentUser.admin? && (b.owner != currentUser) %>
          <% next %>
        <% end %>
      <% end %>
      <div class="bounty-square">
        <div class="nail"></div>
        <div class="ribbon-wrapper"><div class="ribbon"><%= humanized_money_with_symbol b.price %></div></div>
        <div class="name hyphenate"><%= b.name %></div>
        <div class="short-desc hyphenate">
          <%= b.desc.html_safe %>
        </div>
        <div class="control-area">
          <% if signed_in? %>
            <div class="vote-controls">
              <% unless b.voted_on?(currentUser.id).nil? %>
                <% if b.voted_on?(currentUser.id) %>
                  <div class="upvote upvote-red"></div>
                  <div class="downvote downvote-grey"></div>
                <% else %>
                  <div class="upvote upvote-grey"></div>
                  <div class="downvote downvote-red"></div>
                <% end %>
              <% else %>
                <%=   link_to '', votes_path(:vote => {:vote_type => true}, :bounty => b.id), :action => :create, :method => :post, :confirm => "Are you sure you want to upvote #{b.name}?", class: 'upvote' %>
                <%=   link_to '', votes_path(:vote => {:vote_type => false}, :bounty => b.id), :action => :create, :method => :post, :confirm => "Are you sure you want to downvote #{b.name}?", class: 'downvote' %>
              <% end %>
            </div>
          <% end %>
          <%=   link_to 'Read More', bounty_path(b.id), class: 'bounty-button read-more-button' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
