<div id="bounty-wrapper">
  <div id="bounty-list">
    <% @bounties.each do |b| %>
    <div
      class="bounty-square"
      data-price="<%= b.price %>"
    >
        <%=   link_to content_tag(:span, ""), bounty_path(b.id), class: 'bounty-click-wrapper' %>
        <% if b.status == "Completed" %>
          <% if b.preview_file_name %>
            <%= image_tag("#{b.preview.url(:standard)}") %>
          <% else %>
            <%= image_tag("#{b.artwork.url(:thumb)}") %>
          <% end %>
        <% else %>
          <div class="nail"></div>
          <div class="name"><%= b.name %></div>
          <div class="price-ribbon"><div><%= humanized_money_with_symbol b.price %></div></div>
          <div class="short-desc hyphenate">
            <%= b.tag_line %>
          </div>
        <% end %>
        <% if signed_in? %>
            <% favorite = b.favored_by(currentUser) %>
            <% if favorite %>
              <%=  link_to '', favorite, :method => :delete, class: 'fav fav-red' %>
            <% else %>
              <%=  link_to '', favorites_path(:favorite, :bounty => b.id), :action => :create, :method => :post, class: 'fav' %>
            <% end %>
            <% if b.status == "Accepted" %>
              <div class="accepted-stamp"></div>
            <% end %>
            <% if b.status == "Completed" %>
              <div class="completed-stamp"></div>
            <% end %>
            <% cast_vote = b.vote_by(currentUser) %>
            <% if cast_vote %>
              <% if cast_vote.vote_type %>
                <%=  link_to '', cast_vote, :method => :delete, class: 'upvote upvote-red' %>
                <div class="downvote downvote-grey"></div>
              <% else %>
                <div class="upvote upvote-grey"></div>
                <%=  link_to '', cast_vote, :method => :delete, class: 'downvote downvote-red' %>
              <% end %>
            <% else %>
              <%=  link_to '', votes_path(:vote => {:vote_type => true}, :bounty => b.id), :action => :create, :method => :post, class: 'upvote' %>
              <%=   link_to '', votes_path(:vote => {:vote_type => false}, :bounty => b.id), :action => :create, :method => :post, class: 'downvote' %>
            <% end %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
