<% # -*- encoding : utf-8 -*- %>
<div id="bounty-list">
  <% @bounties.each do |b| %>
  <div
    class="bounty-square"
    data-price="<%= b.price %>"
  >
      <%=   link_to content_tag(:span, ""), bounty_path(b.id), class: 'bounty-click-wrapper' %>
      <div class="nail"></div>
      <div class="price-ribbon"><div><%= humanized_money_with_symbol b.price %></div></div>
      <div class="name"><%= b.name %></div>
      <div class="short-desc hyphenate">
        <%= b.desc.html_safe %>
      </div>
      <% if signed_in? %>
          <% cast_vote = b.vote_by(currentUser) %>
          <% if cast_vote %>
            <% if cast_vote.vote_type %>
              <div class="upvote upvote-red"></div>
              <div class="downvote downvote-grey"></div>
            <% else %>
              <div class="upvote upvote-grey"></div>
              <div class="downvote downvote-red"></div>
            <% end %>
          <% else %>
            <%=  link_to '', votes_path(:vote => {:vote_type => true}, :bounty => b.id), :action => :create, :method => :post, class: 'upvote' %>
            <%=   link_to '', votes_path(:vote => {:vote_type => false}, :bounty => b.id), :action => :create, :method => :post, class: 'downvote' %>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>
