<div class="row-fluid">
  <div id="bounty-show" class="span6 offset3">
    <div class="name"><%= @bounty.name %><% if @bounty.adult_only %><div class="adult">18+</div><% end %></div>

    <% if @bounty.status == "Unclaimed" %>
      <div class="candidacies">
        <% unless @bounty.candidacies.empty? %>
          <% @bounty.candidacies.each do |c| %>
            <%= c.artist.get_identifier %>
          <% end %>
        <% else %>
          All artists have rejected this bounty. :(
        <% end %>
      </div>
    <% else %>
      <div class="status"><%= @bounty.status %> by <%= @bounty.accepting_artist.name %></div>
    <% end %>

    <% if @bounty.status == "Completed" %>
     <img src=<%="#{@bounty.url}"%> class="completed-art">
    <% else %>
      <div class="desc"><%= @bounty.desc %></div>
      <div class="moods">
          <% @bounty.moods.each do |m| %>
            <%= m.name %>
          <% end %>
      </div>
    <% end %>
    <div class="price"><%= humanized_money_with_symbol @bounty.price %></div>
    <div class="dates">
      <%= @bounty.created_at.to_s(:created_on) %>
      <% unless @bounty.status == "Unclaimed" %> | <%= @bounty.accepted_on.to_s(:accepted_on) %><% end %>
    </div>

    <% if signed_in? %>

      <% if (@bounty.owner == currentUser && @bounty.status == 'Unclaimed') || currentUser.admin? %>
        <%=   link_to 'Update', edit_bounty_path(@bounty.id, "Edit"), class: 'btn btn-primary' %><br><br>
      <% end %>

      <% if (@bounty.owner == currentUser && @bounty.status == 'Unclaimed') || currentUser.admin? %>
        <%=   link_to 'Delete', @bounty, :confirm => "Are you sure you want to delete #{@bounty.name}?", :method => :delete, class: 'btn btn-primary' %><br><br>
      <% end %>

      <% if currentUser.artist? && @bounty.has_candidate?(currentUser.name) && @bounty.status == 'Unclaimed' %>
        <%=   link_to 'Accept', candidacy_path(:candidacy => {:acceptor => true}), :method => :put, :confirm => "Are you sure you want to accept this bounty?", class: 'btn btn-primary' %><br><br>
      <% end %>

      <% if currentUser.artist? && @bounty.has_candidate?(currentUser.name) && @bounty.status == 'Unclaimed' %>
        <%=   link_to 'Reject', candidacy_path, :method => :delete, :confirm => "Are you sure you want to reject this bounty?", class: 'btn btn-primary' %><br><br>
      <% end %>

      <% if currentUser == @bounty.accepting_artist && @bounty.status == 'Accepted' %>
        <%=   link_to 'Complete', edit_bounty_path(@bounty.id, "Complete"), :confirm => "Are you sure you want to complete this bounty?", class: 'btn btn-primary' %><br><br>
      <% end %>

      <%=   link_to 'Back', root_path, class: 'btn btn-primary' %><br><br>

   <% end %>


  </div>
</div>
