<div class="row-fluid">
  <div id="bounty-page-area" class="span8 offset2">
    This bounty's details.
    <ul>
      <li><%= @bounty.name %></li>
      <li><%= @bounty.desc %></li>
      <li>$<%= @bounty.price %></li>
      <li><%= @bounty.adult_only %></li>
      <li><% if @bounty.status == 'Completed' %><%= @bounty.url %><% end %></li>
      <li><%= @bounty.get_private %></li>
      <li><%= @bounty.created_at.to_s(:created_on) %></li>
    </ul>
    The bounty's candidacies.
    <ul>
      <% unless @bounty.candidacies.empty? %>
        <% @bounty.candidacies.each do |c| %>
          <li><%= c.artist.get_identifier %></li>
        <% end %>
      <% else %>
        All artists may complete this bounty.
      <% end %>
    </ul>
    The bounty's moods.
    <ul>
    <% @bounty.moods.each do |m| %>
      <li><%= m.name %></li>
    <% end %>
    </ul>

    The bounty's status.<br>
    <%= @bounty.status %><% if @bounty.status == 'Accepted' %> on <%= @bounty.accepted_on.to_s(:accepted_on) %><% end %><br><br>

    <% if signed_in? %>

      <% if (@bounty.owner == currentUser) || currentUser.is_admin? %>
        <%=   link_to 'Update', edit_bounty_path(@bounty.id, "Edit"), class: 'btn btn-primary' %><br><br>
      <% end %>

      <% if (@bounty.owner == currentUser) || currentUser.is_admin? %>
        <%=   link_to 'Delete', @bounty, :confirm => "Are you sure you want to delete #{@bounty.name}?", :method => :delete, class: 'btn btn-primary' %><br><br>
      <% end %>

      <% if currentUser.is_artist? %>
        <%=   link_to 'Accept', candidacy_path(:candidacy => {:acceptor => true}), :method => :put, :confirm => "Are you sure you want to accept this bounty?", class: 'btn btn-primary' %><br><br>
      <% end %>

      <% if currentUser.is_artist? %>
        <%=   link_to 'Reject', candidacy_path, :method => :delete, :confirm => "Are you sure you want to reject this bounty?", class: 'btn btn-primary' %><br><br>
      <% end %>

      <% if currentUser %>
        <%=   link_to 'Complete', edit_bounty_path(@bounty.id, "Complete"), :confirm => "Are you sure you want to complete this bounty?", class: 'btn btn-primary' %><br><br>
      <% end %>

      <%=   link_to 'Back', root_path, class: 'btn btn-primary' %><br><br>

   <% end %>


  </div>
</div>
