# encoding: UTF-8
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to 'The Bounty Board', root_path, class: 'brand' %>
      <nav class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to 'About', '#' %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Filters (in future your active filters will be displayed here)
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li id="bounty-cost-filter">
                <input type="checkbox" class="filter-toggle">
                Cost:
                <label>above <input type="radio" name="cost-range-filter" value="1"></label>
                <label>below <input type="radio" name="cost-range-filter" value="0"></label>
                $<input type="number" min="5" step="0.01" value="5.00">
              </li>
              <li id="bounty-age-filter"><input type="checkbox" class="filter-toggle"> Age: <input type="range"> days</li>
              <li id="no-adult-content-filter"><input type="checkbox" class="filter-toggle"> Don't Show Adult Content</li>
              <li id="only-adult-content-filter"><input type="checkbox" class="filter-toggle"> Only Show Adult Content</li>
            </ul>
          </li>
          <% if signed_in? && currentUser.is_admin? %>
          <li><%= link_to 'New Artist', new_artist_path %></li>
          <% end %>
        </ul>
      </nav>
      <span class="pull-right">
      <% if signed_in? %>
        <span class="login-notify-area">Logged in as <%= currentUser.get_identifier() %><%= render 'artists/show_artist_button' %></span>
      <%  else %>
        <button class="persona-login-button btn" type="button">Sign In with Persona</button>
      <%  end %>
      </span>
    </div>
  </div>
</header>

