<% # -*- encoding : utf-8 -*- %>
<nav>
  <%= link_to 'The Bounty Board', root_path %>
  <%= link_to 'About', '#' %>
  <a data-dropdown="#dropdown-filters-controls" href="#">
	  Filter Displayed Bounties
  </a>
  <%= link_to 'Show All Artists', artists_path %>
  <% if signed_in? && currentUser.admin? %>
    <%= link_to 'New Artist', new_artist_path %>
  <% end %>
  <% if signed_in? && currentUser.artist? %>
    <%= link_to 'Your Profile', artist_path(currentUser.id) %>
  <% end %>
  <span class="login-notify-area">
    <% if signed_in? %>
          Logged in as
      <%= currentUser.get_identifier() %>
    <%  else %>
      <button class="persona-login-button">
        Sign In with Persona
      </button>
    <%  end %>
  </span>
</nav>

