# encoding: UTF-8
<article class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Sidebar</li>
		<li><%= link_to 'Control 1', '#' %></li>
		<li><%= link_to 'Control 2', '#' %></li>
		<li><%= link_to 'Control 3', '#' %></li>
		<li><%= link_to 'Control 4', '#' %></li>
		<li><%= link_to 'Control 5', '#' %></li>
		<li class="nav-header">Bounty Filters</li>
		<li><%= link_to 'Filter 1', '#' %></li>
		<li><%= link_to 'Filter 2', '#' %></li>
		<li><%= link_to 'Filter 3', '#' %></li>
		<li class="active"><%= link_to 'Filter 4', '#' %></li>
		<li><%= link_to 'Filter 5', '#' %></li>
		<li class="nav-header">Sort Bounties</li>
		<li><%= link_to 'Sort by Property 1', '#' %></li>
		<li class="active"><%= link_to 'Sort by Property 2', '#' %></li>
		<li><%= link_to 'Sort by Property 3', '#' %></li>
		<li><%= link_to 'Sort by Property 4', '#' %></li>
		<li><%= link_to 'Sort by Property 5', '#' %></li>
	</ul>
</article>

