# encoding: UTF-8
<article class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Bounty Filters</li>
		<li><%= link_to 'No Adult Content', '#' %></li>
		<li><%= link_to 'No Negative Votes', '#' %></li>
		<li><%= link_to 'No Bounties below $5', '#' %></li>
		<li><%= link_to 'Bounties for Artist 1', '#' %></li>
		<li><%= link_to 'Bounties for Artist 2', '#' %></li>
		<li><%= link_to 'Bounties for Artist 3', '#' %></li>
		<li><%= link_to 'Bounties for Artist 4', '#' %></li>
		<li class="nav-header">Sort Bounties</li>
		<li><%= link_to 'Sort by Price', '#' %></li>
		<li><%= link_to 'Sort by Rating', '#' %></li>
		<li><%= link_to 'Sort by Posting User', '#' %></li>
		<li><%= link_to 'Sort by Votes', '#' %></li>
	</ul>
</article>

