# encoding: UTF-8
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The Bounty Board</title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script src="https://browserid.org/include.js" type="text/javascript"></script>
	<%= csrf_meta_tags %>

	<!-- provide HTML5 compatibility for IE 8 and older -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<%= render 'layouts/nav_bar' %>

	<%
		# boilerplate for integrating Rails flash messages with Bootstrap taken
		# from https://gist.github.com/1600856
	%>
	<% [:notice, :error, :alert].each do |level| %>
		<% unless flash[level].blank? %>
			<div class="alert <%= flash_class(level) %>">
				<a class="close" href="#">×</a>
				<%= content_tag :p, flash[level] %>
			</div>
		<% end %>
	<% end %>

	<div class="container-fluid">
		<%= yield %>
	</div>

	<hr>
	<%= render 'layouts/footer' %>

	<!-- hidden login form; the login buttons link to and submit this form -->
	<form id="browser-id-form" action="/auth/browser_id/callback">
		<input type="hidden" name="assertion">
		<button type="submit"></button>
	</form>

</body>
</html>
