# encoding: UTF-8
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The Bounty Board</title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script src="https://browserid.org/include.js" type="text/javascript"></script>
	<%= javascript_include_tag 'persona-login-scripts' %>
	<%= csrf_meta_tags %>

	<!-- provide HTML5 compatibility for IE 8 and older -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<%= render 'layouts/nav_bar' %>

	<div class="container-fluid">
		<%= yield %>
	</div>

	<hr>
	<%= render 'layouts/footer' %>

	<!-- hidden login form; the login buttons link to and submit this form -->
	<form id="browser_id_form" action="/auth/browser_id/callback">
		<input type="hidden" name="assertion">
		<button type="submit"></button>
	</form>

</body>
</html>
